{% extends 'base.html' %}
{% block content %}

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% include 'layouts/sideNav.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include 'inc/navbar.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">Send Bundle</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                    <lottie-player class="my-auto mx-auto" src="https://assets2.lottiefiles.com/packages/lf20_benzmfne.json"  background="transparent"  speed="1"  style="width: 400px; height: 300px;"  loop  autoplay></lottie-player>
                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Bundle Form</h5>
                      <small class="text-muted float-end">Flexi Bundle</small>
                    </div>
                    <div class="card-body">
                      <form class="bundle-form" method="post">
                          {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-p">Phone Number</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-phone"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              placeholder="02700000000"
                              aria-label="02700000000"
                              aria-describedby="basic-icon-default-fullname2"
                              name="phone"
                              value="233"
                              required
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-company">Bundle Amount</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="bx bx-money"></i
                            ></span>
                            <input
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              placeholder="5000MB"
                              aria-label="5000MB"
                              aria-describedby="basic-icon-default-company2"
                              name="amount"
                              required
                            />
                          </div>
                        </div>
                        <input type="submit" class="btn btn-primary send-btn" value="Send"/>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <!-- / Content -->

        {% endblock content %}