{% extends 'base.html' %}
{% block content %}

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% include 'layouts/sideNav.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include 'inc/navbar.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">Check Transaction Status</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                    <lottie-player class="my-auto mx-auto" src="https://assets7.lottiefiles.com/packages/lf20_xbf1be8x.json"  background="transparent"  speed="1"  style="width: 400px; height: 300px;"  loop  autoplay></lottie-player>
                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Query Form</h5>
                      <small class="text-muted float-end">Enter reference to get transaction detail</small>
                    </div>
                    <div class="card-body">
                      <form method="post">
                          {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-p">Reference</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-receipt"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              id="reference"
                              aria-label="0270000000"
                              aria-describedby="basic-icon-default-fullname2"
                              name="ref"
                              min="10"
                              max="10"
                              required
                            />
                          </div>
                        </div>
 //                          <button type="submit" class="btn btn-primary send-btn">
   //                             Search
     //                       </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <!-- / Content -->

        {% endblock content %}
